header{background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(logo123.jpg);
       height: 100vh;
       background-repeat: no-repeat;
       background-size: cover;
       background-position: center;}

body{background-color:cyan;
background-image: url('logo123.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;}

       
p{background-color:no;
margin-left:100px;}

textarea{width:700px;height:50px;}


div style="background-image: url('main-logo.jpg');"
div{background-color:green;margin:150px 100px 100px 50px;}

button{background-color:cyan;
margin-left:70px;}


.logo img{float: left;
          width: 150px;
          height: auto;}

.main{max-width: 1200px;
      margin: auto;}  


